[submodule "astroid-plugin-avatar"]
	path = astroid-plugin-avatar
	url = https://github.com/astroidmail/astroid-plugin-avatar.git
[submodule "astroid-plugin-hls-hsv-tagcolor"]
	path = astroid-plugin-hls-hsv-tagcolor
	url = https://github.com/astroidmail/astroid-plugin-hls-hsv-tagcolor
[submodule "astroid-plugin-seccomp"]
	path = astroid-plugin-seccomp
	url = https://github.com/astroidmail/astroid-plugin-seccomp
[submodule "astroid-syntax-highlight"]
	path = astroid-syntax-highlight
	url = https://github.com/astroidmail/astroid-syntax-highlight
