[submodule "astroid-plugin-avatar"]
	path = astroid-plugin-avatar
	url = https://github.com/astroidmail/astroid-plugin-avatar.git
[submodule "astroid-plugin-hsv-tagcolor"]
	path = astroid-plugin-hsv-tagcolor
	url = git@github.com:astroidmail/astroid-plugin-hsv-tagcolor.git
[submodule "astroid-plugin-hls-hsv-tagcolor"]
	path = astroid-plugin-hls-hsv-tagcolor
	url = https://github.com/astroidmail/astroid-plugin-hls-hsv-tagcolor
